{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <section>
      <div class="container">


        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
              <div class="row">
                <div class="col text-center">
                    <h3>{% trans "Sign In" %}</h3>
                    <p>{% blocktrans %}Welcome to the Petstar blog. To leave a comment or like a post, log in below. If
                        you
                        have not created an account yet, then please <a class="link" href="{{ signup_url }}">sign up</a>
                        first.{% endblocktrans %}</p>
                </div>
              </div>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                
                <!-- Display any form errors here -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                        <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                    {# {{ form.as_p }} #}
                
                <div class="row align-items-center">
                    <div class="col mt-4">
                        {{ form.login }}
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        {{ form.password }}
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        Remember Me: {{ form.remember }}
                    </div>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
  </section> 
</div>
{% endblock %}