{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <section>
    <div class="container">
  
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h3>{% trans "Sign Up" %}</h3>
              <p class="text-h3">{% blocktrans %}Welcome to the Petstar blog. Do you already have an account? Then please <a
                class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
              <div class="alert alert-info" role="alert">
                Please note: Email is optional
              </div>
            </div>
          </div>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            <!-- Display any form errors here -->
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %} 
                    <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
              {% endfor %}
            {% endif %}

            <div class="row align-items-center">
              <div class="col mt-4">
                {{ form.username }}
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                {{ form.email }}
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                {{ form.password1 }}
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                {{ form.password2 }}
              </div>
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="row justify-content-start mt-4">
              <div class="col">
                <button class="btn btn-primary right" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section> 
</div>

{% endblock %}