body {
    background-color:  #F9FAFC;
    font-family: 'Poppins', Lato, sans-serif !important;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Font for the logo */
.brand {
    font-family: 'Poppins', Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Make the text in the navbar black, so it has good contrast with the navbar background */
.nav-link, .navbar-text, .navbar {
    color: black !important;
    background-color: #f7b1d7;
}

/* Set the width and height of the logo (in the navbar) */
#navbar-logo {
    width: 60px;
    height: 60px;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}
.card-body-form {
    margin-top: 1.3em
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #EFED98;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    padding: 0 !important
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Ensure the gallery images have vertical spaces between them when on a small device */
.img-fluid {
    margin-bottom: 20px;
}

.row {
    margin: 15px;
}


/* The Blog Post Comment Edit button */
.comment-edit-button {
    background-color:#0bac71 !important;
    border-color: #0bac71 !important;
}

.comment-body {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}

/*
 * The blog post cards on the front page
 * (i.e. the summary boxes that represent each blog post)
 */
.blog-post-card {
    background-color: #eef9fc !important
}

.comments {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #cef1fa;
    color: black
}

/* Ensure the number of likes for a post, is always next to the heart symbol */
.comment-heart {
    white-space: nowrap;
    display: inline
}

/*
 * Make the number of likes, literally the number next to the heart icon,
 * more readable.
 */
.heart-block {
    font-weight: 700
}

.comment-textarea {
    width: 100%;
    padding: 15px
}

.masthead-image img {
    width: 100%
}

/* Stylise sign up and login forms */
form.signup input[type='text'], input[type='password'], input[type='email'] {
    width: 100%;
    border: 1px solid rgb(198 198 198);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
}
form.login input[type='text'], input[type='password'], input[type='email'] {
    width: 100%;
    border: 1px solid rgb(198 198 198);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
}

/* Hide the text 'Body *' from the 'add a comment' form, as it shouldn't really show */
#div_id_body label {
    display: none
}
