{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-lg-10 col-md-10 col-sm-12">
            <h3 class="text-center">About</h3>

<p>Welcome to Pet star, a blog for all you animal lovers!</p>

<p>Hi everyone my name is Shanti and I wanted to create this place to meet like-minded
    people who share a love of all animals. This blog aims to help lift
    our spirits by reminding each other just how wonderful our pets are and how they
    have enhanced our lives in some way. I'm sure each and every one of you will have
    some story to tell as every animal is a character and some have had some amusing
    adventures. Some may have come from sad backgrounds but what I want us all to remember
    is how the love you each now give each other has transformed your lives.</p>

<div class="col col-lg-6 col-md-9 col-sm-12">
    <a href="{% static 'images/dog-and-owner.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img alt="Dog and owner" src="{% static 'images/dog-and-owner.jpg' %}" class="img-fluid rounded">
    </a>
</div>

<p>A little bit about my background:</p>

<p>I've always loved animals ever since I was a child and couldn't bear it if I saw anyone being
    cruel to them. I remember I once used to rescue worms maybe when I was about four or
    five years old and set up a worm hospital. There was a girl down my street who hated
    them so I would rescue those she hadn't killed and took them back to the hospital to
    heal in a cardboard box full of grass. I think even at a young age I felt that animals
    were beings with sensitivities the same as you and I. It seemed natural to treat any
    being the same way you wish to be treated yourself, which is basically with kindness.</p>

<p>I grew up being fascinated by turtles, snakes, and monkeys and tried to get books on
    them in the library. I don't know why I was drawn to these creatures but these are
    the memories of the first animals I seemed to be drawn to.</p>

<p>My father always loved to watch any sort of wildlife programme. In hindsight as an
    adult, I think he preferred animals to humans! I think his love of nature influenced
    me as I grew up appreciating and wanting to learn about all the
    other species that live on planet Earth.</p>

<p>I didn't get my first pet until I was about 9 years old when my dad brought
    me home a little kitten, a beautiful tabby with Scottish wild cat markings. I had
    always wanted a cat that would love to cuddle and be stroked but my first two cats
    were anything but this! I realise it was all my fault as I used to tease them as
    kittens and they used to love to bite my hand with their little fangs and put their
    hind legs into spin drive, scratching my wrists with their claws. Of course, at
    that time it didn't hurt one little bit when they were kittens but that same
    instinct to play in the same manner as adult cats hurt with their dagger-like
    claws and very sharp teeth! On a few occasions, they even drew blood but I
    still loved them.</p>

    <p>I don't think my cats wanted to be as affectionate to me as I wanted to be with them.
        I had to learn the hard lesson that a cat has a strong personality. It does its
        own thing and on its own terms. It made me learn that just because this animal was
        my pet it didn't mean that I was in control of it or owned it.</p>

    <p>I was devastated when my first cat Jenny was killed by a dog. Maybe that's why I
        never thought of having a dog as that traumatic experience made me feel like they
        were savages and out of control. Of course, all of that changed almost 30 years later
        when I found myself enjoying taking a friend's dog for a walk or dog sitting for
        them over the years.</p>

    <p>There were several dogs of different breeds that I bonded to over time and maybe
        that's why I am now a new dog mother.</p>

    <p>This little creature has transformed my life the most. She arrived at my doorstep
        with my friend who had rescued her from a farmer. My friend asked if I could look
        after her for a week which then became a permanent situation. I had never had a dog
        before and had no idea how to look after one. But with the help of videos, I watched
        on YouTube about how to train a puppy she soon proved to be a very good dog despite
        some sleepless nights. When I first held her she was so small I could carry her
        in my scarf and many people would stop by in the street to admire her pretty blue
        eyes. Her name Bubba is unusual. It means in Sanskrit ‘the awakened one’- it was
        such a meaningful name given to her by my friend I felt that it was best not to
        change it.</p>

    <p>Bubba is now Four years old. It’s amazing how much she has grown and I just can’t
        imagine my life without her now.</p>

    <p>So that's a bit about me and I hope over time more people will share their stories
        with me on this website in celebration of all the animals that have touched our
        lives. I believe when we take care of animals we take care of ourselves and
        learn to become better and kinder human beings.</p>

        </div>
    </div>
</div>

{%endblock%}