{% extends 'base.html' %}
{% block title %}Delete Comment{% endblock %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.username == comment.name %}
        <h1>Delete Comment...</h1>
        <br/><br/>
        <h3>Delete: {{ comment.body }} (by {{ comment.name }})</h3>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-primary">Delete</button>
                <a href="{{ request.GET.nexturl }}" class="btn btn-secondary">Cancel</a>
        </div>
    {% else %}
        <div class="alert alert-danger">WARNING: You are not authorised to delete other user's comments!</class>
    {% endif %}
{% endif %}

{% endblock %}