{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
                <section id="photos">
                    <img src="static/css/images/petstog.png" alt="Pets together">
                    <img src="assets/images/girls.jpg" alt="Three girls at charity paint running festival">
                    <img src="assets/images/runner3.jpg" alt="Solo male runner jogging on a beach">
                    <img src="assets/images/man.jpg" alt="Man at charity paint running festival">
                    <img src="assets/images/runner1.jpg" alt="Solo feamle runner jogging through phoenix park">
                    <img src="assets/images/runner2.jpg" alt="Runners competing in marathon">
                    <img src="assets/images/runner4.jpg" alt="Solo female runner jogging on a beach">
                    <img src="assets/images/running_gang.jpg" alt="Large group of runners taking part in a marathon on a rainy day">
                    <img src="assets/images/mud-run.jpg" alt="Two women runners taking a muddy selfie after the Mud Runners Championship">
                </section>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}