{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}Gallery{% endblock %}

{% block content %}

<div class="container">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h3>Gallery</h3>
              <div class="col-12 mt-3 left">
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                      </a>
                      <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                      </a>
                      <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                      </a>
                    </div>
                    <div class="row">
                      <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
                      </a>
                      <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
                      </a>
                      <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{%endblock%}