{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}Gallery{% endblock %}

{% block content %}

<div class="container">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col text-center">
              <h3>Gallery</h3>
              <div class="col-12 mt-3 left">
                <div class="row">
                  <div class="container">
                    <div class="row">


                      <a href="{% static 'images/dog-with-girl.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="Dog with girl" src="{% static 'images/dog-with-girl.jpg' %}" class="img-fluid rounded">
                      </a>
                      <a href="{% static 'images/hedgehog.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="{% static 'images/hedgehog.jpg' %}" class="img-fluid rounded">
                      </a>
                      <a href="{% static 'images/kitten-in-basket.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="{% static 'images/kitten-in-basket.jpg' %}" class="img-fluid rounded">
                      </a>
                    </div>
                    <div class="row">
                      <a href="{% static 'images/labrador-with-human.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="{% static 'images/labrador-with-human.jpg' %}" class="img-fluid rounded">
                      </a>
                      <a href="{% static 'images/parrots-on-arm.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="{% static 'images/parrots-on-arm.jpg' %}" class="img-fluid rounded">
                      </a>
                      <a href="{% static 'images/rabbit-held-in-hands.jpg' %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img alt="" src="{% static 'images/rabbit-held-in-hands.jpg' %}" class="img-fluid rounded">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{%endblock%}