{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Edit Comment" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Edit Comment" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        {% if user.is_authenticated %}
            {% if user.username == comment.name %}
                Comment Author: <strong>{{ comment.name }}</strong>
                <br/><br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <textarea name="body" rows="10" required="" id="id_body" style="width: 100%; padding: 15px">{{ comment.body }}</textarea>
                        <br/><br/>
                        <button class="btn btn-primary" title="Save changes to updated comment">Update</button>
                        <a href="{{ request.GET.nexturl }}" class="btn btn-secondary" title="Abort editing comment">Cancel</a>
                    </form>
                </div>
            {% else %}
                <div class="alert alert-danger">WARNING: You are not authorised to edit other user's comments!</div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

